@use 'variables' as vars;
@use 'sass:color';
.container {
    width: 100%;
    font-family: vars.$font-primary;
    max-height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #e3e3e3;
    display:flex;
    padding: 0.5rem 1rem;
    flex-direction:column;
    margin: 20px 0px;
}
.title {
    color: vars.$primary;
    margin-bottom: 0;
}
.date {
    color: #8d8d8d;
}

.buttons {
    width: 100%;
    display:flex;
}
.viewPostBtn, .deleteBtn, .updateBtn {
    color:white;
    font-weight:bold;
    text-decoration:none;
    padding: 0.5rem;
    background: vars.$primary;
    max-width: 120px;
    text-align:center;
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
    &:hover {
        transform: translateY(-2px); 
        background: color.scale(vars.$primary, $lightness: -20%);
    }
}
.deleteBtn {
    background: red;
    border: none;
    outline: none;
    margin-left: auto;
    &:hover {
        background: color.scale(red, $lightness: -20%);
    }
}
.updateBtn {
    background: blue;
    border: none;
    outline: none;
    margin-left: auto;
    &:hover {
        background: color.scale(blue, $lightness: -20%);
    }

}