@use 'variables' as vars;

.container {
    width: 100%;
    display: flex;
    flex-direction:column;
    font-family: vars.$font-primary;
}
.wrapper {
    width: 100%;
    max-width: 1200px;
    display:flex;
    flex-direction: column;
    align-self:center;
    & > h2, & > span > strong {
        color: vars.$primary;
    }
    & > p, & > span {
        color: #8d8d8d;
    }
}
