@use 'variables' as vars;
@use 'sass:color';
.navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    position:fixed;
    top:0;
    z-index:1000;
    background:transparent;
    font-family: vars.$font-primary;
    &.withBg::before {
        content: "";
        //Thanks H4I Website: https://github.com/hack4impact/hack4impact-website/blob/main/components/shared/Nav/styles.module.scss
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(white, 0.3);
        backdrop-filter: blur(8px);
      }
}
.wrapper {
    position:relative;
    width: 90%;
    align-self:center;
    display:flex;
    flex-direction:row;
    align-items:center;
}
.navLink {
    text-decoration:none;
    margin: 0px 5px;
    font-family: vars.$font-primary;
    font-weight: 600;
    color:white;
}
.navLinkGreen {
    color: vars.$primary;
}
.navLinkWhite {
    color:white;
}
.logo {
    & > img {
        width: 150px;
        height:100px;
    }
    @include vars.respond-to("medium") {
        & > img {
            width: 200px;
            height: 100px;
        }
    }
    z-index: 1001;
}
.navActionButton {
    background: vars.$primary;
    color:white;
    text-decoration:none;
    margin-left: 10px;
    padding: 1rem;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.3s ease;
    &:hover {
        background: color.scale(vars.$primary, $lightness: -20%);
    }

}
.linkCollection {
    display:none;
    @include vars.respond-to("medium") {
        display:flex;
        flex-direction: row;
        align-items:center;
        margin-left: auto;
    }
}

.navMenuButton {
    margin-left: auto;
    font-size: 32px;
    z-index: 1001;
    cursor:pointer;
    @include vars.respond-to("medium") {
        display: none;
    }
}

.mobileNav {
    position:absolute;
    width:100%;
    display: flex;
    flex-direction:column;
    height:100vh;
    background: white;
    transition:0.4s ease;
    z-index: 1000;
    @include vars.respond-to("medium") {
        display:none;
    }
}
.mobileNavContent {
    margin-top: 130px;
    width:90%;
    align-self:center;
    text-align:right;
    font-family: vars.$font-primary;
    display:flex;
    flex-direction:column;
    & > a:nth-child(6) {
        margin-top: 20px;
        text-align:center;
    }
}
.mobileNavLink {
    color: vars.$primary;
    display: flex;
    font-size: 20px;
    flex-direction:column;
    text-decoration:none;
}

.show {
    right: 0;
}
.hide {
    right: -100%;
}

.navSpacer {
    width: 100%;
    display:block;
    height: 104px;
}
