@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$primary: #11552E; 

$font-primary: #{"Inter", sans-serif};

$breakpoints: (
  "medium": (
    min-width: 1000px,
  ),
);



//Beakpoint manager inspired by Sass Guidelines
//https://sass-guidelin.es/#the-7-1-pattern
//@param {String} $breakpoint - Breakpoint
//@requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get(v.$breakpoints, $breakpoint);
  @if $raw-query {
    $query: if(
       type-of($raw-query) == "string",
      unquote($raw-query),
      inspect($raw-query)
    );
    @media #{$query} {
        @content;
    }

  } @else {
    @error "No value found for `#{$breakpoint}`. ";
  }
}
